.nuxt-link {
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  background-color: #F76F8E;
  border: 1px solid #D40C3B;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}